<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ReportingService.ReportServerUrl" value="http://reports.fabrikam.com/ReportServer/ReportExecution2005.asmx" />
    <add key="ReportingService.ReportFolder" value="/Fabrikam Enterprise Pizza/Operations" />
    <add key="ReportingService.DefaultRenderFormat" value="PDF" />
    <add key="ReportingService.ExecutionTimeoutSeconds" value="90" />
    <add key="ReportingService.UseDefaultCredentials" value="true" />
    <add key="ReportingService.DataSource.FabrikamPizza_Reporting.Provider" value="SQL" />
    <add key="ReportingService.DataSource.FabrikamPizza_Reporting.ConnectionString" value="Data Source=SQLLEGACY01;Initial Catalog=FabrikamPizza_Reporting;Integrated Security=SSPI;" />
    <add key="ReportingService.DataSource.FabrikamPizza_Reporting.SharedPath" value="/Fabrikam Enterprise Pizza/Shared Data Sources/FabrikamPizza_Reporting" />
    <add key="ReportingService.DataSource.FabrikamPizza_Reporting.IntegratedSecurity" value="true" />
    <add key="ReportingService.DataSource.FabrikamPizza_Reporting.Prompt" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
