<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Batch.NightlyJobs" value="PartnerProfitabilityReports" />
    <add key="Batch.Job.PartnerProfitabilityReports.Schedule" value="Nightly@01:15" />
    <add key="Batch.Job.PartnerProfitabilityReports.Enabled" value="true" />
  </appSettings>
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ReportingService.ReportServerUrl" value="http://reports.fabrikam.com/ReportServer/ReportExecution2005.asmx" />
    <add key="ReportingService.ReportFolder" value="/Fabrikam Enterprise Pizza/Operations" />
    <add key="ReportingService.DefaultRenderFormat" value="PDF" />
    <add key="ReportingService.ExecutionTimeoutSeconds" value="90" />
    <add key="ReportingService.UseDefaultCredentials" value="true" />
    <add key="ReportingService.DataSource.FabrikamPizza_Reporting.Provider" value="SQL" />
    <add key="ReportingService.DataSource.FabrikamPizza_Reporting.ConnectionString" value="Data Source=SQLLEGACY01;Initial Catalog=FabrikamPizza_Reporting;Integrated Security=SSPI;" />
    <add key="ReportingService.DataSource.FabrikamPizza_Reporting.SharedPath" value="/Fabrikam Enterprise Pizza/Shared Data Sources/FabrikamPizza_Reporting" />
    <add key="ReportingService.DataSource.FabrikamPizza_Reporting.IntegratedSecurity" value="true" />
    <add key="ReportingService.DataSource.FabrikamPizza_Reporting.Prompt" value="" />
  <connectionStrings>
    <add name="FabrikamPizza_StoreOps" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FabrikamPizza_StoreOps;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="FabrikamPizza_CustomerHub" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FabrikamPizza_CustomerHub;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="FabrikamPizza_Reporting" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FabrikamPizza_Reporting;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="LegacyPayrollFeed" connectionString="Data Source=PAYROLLFILE01;Initial Catalog=LegacyPayrollExport;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Batch.Jobs" value="StoreOpsRollup,CustomerHubSync,PayrollFeedImport,ReportingAggregation" />

    <add key="Batch.Job.StoreOpsRollup.Schedule" value="Nightly@01:00" />
    <add key="Batch.Job.StoreOpsRollup.SourceConnectionName" value="FabrikamPizza_StoreOps" />
    <add key="Batch.Job.StoreOpsRollup.TargetConnectionName" value="FabrikamPizza_Reporting" />
    <add key="Batch.Job.StoreOpsRollup.MaxRetryCount" value="2" />
    <add key="Batch.Job.StoreOpsRollup.RetryIntervalSeconds" value="90" />
    <add key="Batch.Job.StoreOpsRollup.Enabled" value="true" />

    <add key="Batch.Job.CustomerHubSync.Schedule" value="Nightly@01:20" />
    <add key="Batch.Job.CustomerHubSync.SourceConnectionName" value="FabrikamPizza_CustomerHub" />
    <add key="Batch.Job.CustomerHubSync.TargetConnectionName" value="FabrikamPizza_Reporting" />
    <add key="Batch.Job.CustomerHubSync.MaxRetryCount" value="2" />
    <add key="Batch.Job.CustomerHubSync.RetryIntervalSeconds" value="120" />
    <add key="Batch.Job.CustomerHubSync.Enabled" value="true" />

    <add key="Batch.Job.PayrollFeedImport.Schedule" value="Nightly@02:15" />
    <add key="Batch.Job.PayrollFeedImport.SourceConnectionName" value="LegacyPayrollFeed" />
    <add key="Batch.Job.PayrollFeedImport.TargetConnectionName" value="FabrikamPizza_StoreOps" />
    <add key="Batch.Job.PayrollFeedImport.MaxRetryCount" value="3" />
    <add key="Batch.Job.PayrollFeedImport.RetryIntervalSeconds" value="180" />
    <add key="Batch.Job.PayrollFeedImport.FeedPath" value="\\payroll-gw01\exports\benefits\PayrollNightly.xml" />
    <add key="Batch.Job.PayrollFeedImport.Enabled" value="true" />

    <add key="Batch.Job.ReportingAggregation.Schedule" value="Nightly@03:00" />
    <add key="Batch.Job.ReportingAggregation.SourceConnectionName" value="FabrikamPizza_Reporting" />
    <add key="Batch.Job.ReportingAggregation.TargetConnectionName" value="FabrikamPizza_Reporting" />
    <add key="Batch.Job.ReportingAggregation.MaxRetryCount" value="1" />
    <add key="Batch.Job.ReportingAggregation.RetryIntervalSeconds" value="60" />
    <add key="Batch.Job.ReportingAggregation.Enabled" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
