<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Batch.NightlyJobs" value="PartnerProfitabilityReports" />
    <add key="Batch.Job.PartnerProfitabilityReports.Schedule" value="Nightly@01:15" />
    <add key="Batch.Job.PartnerProfitabilityReports.Enabled" value="true" />
  </appSettings>
</configuration>
