<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FabrikamPizza_StoreOps" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FabrikamPizza_StoreOps;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="FabrikamPizza_CustomerHub" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FabrikamPizza_CustomerHub;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="FabrikamPizza_Reporting" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FabrikamPizza_Reporting;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <dataConfiguration defaultDatabase="FabrikamPizza_StoreOps" />
  <connectionStrings>
    <add name="FabrikamPizza_StoreOps" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FabrikamPizza_StoreOps;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="FabrikamPizza_CustomerHub" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FabrikamPizza_CustomerHub;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="FabrikamPizza_Reporting" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FabrikamPizza_Reporting;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
