<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DispatchBoard.StoreNumber" value="014" />
    <add key="DispatchBoard.TerminalId" value="TERM-02" />
    <add key="DispatchBoard.AutoRefreshSeconds" value="45" />
    <add key="DispatchBoard.IncludeDriverNotes" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
