<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PartnerServiceSourceSystem" value="CustomerHub.PartnerService" />
    <add key="LegacyPartnerLookupSourceSystem" value="CustomerHub.LegacyPartnerLookup" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PartnerBasicHttpBinding" maxReceivedMessageSize="65536">
          <readerQuotas maxArrayLength="65536" maxStringContentLength="65536" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="PartnerMetadataBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Fabrikam.EnterprisePizza.Services.PartnerSync.PartnerService" behaviorConfiguration="PartnerMetadataBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="PartnerBasicHttpBinding" contract="Fabrikam.EnterprisePizza.Services.PartnerSync.IPartnerService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <webServices>
      <protocols>
        <clear />
        <add name="HttpSoap" />
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
</configuration>
