<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PartnerSyncSourceSystem" value="CustomerHub.PartnerSync" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
</configuration>
