<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PartnerSyncSourceSystem" value="CustomerHub.PartnerSync" />
    <add key="enterpriseLibrary:defaultContainer" value="PartnerSyncHost" />
    <add key="enterpriseLibrary:defaultLogWriter" value="Operations" />
    <add key="enterpriseLibrary:defaultExceptionPolicy" value="ServiceBoundaryPolicy" />
    <add key="enterpriseLibrary:typeAlias:LegacyDbGateway" value="Fabrikam.EnterprisePizza.Data.Gateways.LegacyDbGateway, Fabrikam.EnterprisePizza.Data" />
    <add key="enterpriseLibrary:typeAlias:PartnerAccountRepository" value="Fabrikam.EnterprisePizza.Data.Repositories.CustomerHub.PartnerAccountRepository, Fabrikam.EnterprisePizza.Data" />
    <add key="enterpriseLibrary:typeAlias:PartnerAccountService" value="Fabrikam.EnterprisePizza.Business.CustomerHub.Services.PartnerAccountService, Fabrikam.EnterprisePizza.Business.CustomerHub" />
    <add key="enterpriseLibrary:container:PartnerSyncHost:001" value="service=LegacyDbGateway;mapTo=LegacyDbGateway;lifetime=Singleton" />
    <add key="enterpriseLibrary:container:PartnerSyncHost:002" value="service=Fabrikam.EnterprisePizza.Data.Repositories.CustomerHub.IPartnerAccountRepository, Fabrikam.EnterprisePizza.Data;mapTo=PartnerAccountRepository;lifetime=Transient" />
    <add key="enterpriseLibrary:container:PartnerSyncHost:003" value="service=Fabrikam.EnterprisePizza.Business.CustomerHub.Services.IPartnerAccountService, Fabrikam.EnterprisePizza.Business.CustomerHub;mapTo=PartnerAccountService;lifetime=Transient" />
    <add key="enterpriseLibrary:logWriter:Operations" value="category=PartnerSyncHost;traceSource=legacy-services.partnerSync" />
    <add key="enterpriseLibrary:exceptionPolicy:ServiceBoundaryPolicy" value="action=Wrap;exceptionType=System.InvalidOperationException, System;message=The partner sync export could not be generated.;logCategory=PartnerSyncHost" />
    <add key="enterpriseLibrary:database:StoreOps" value="FabrikamPizza_StoreOps" />
    <add key="enterpriseLibrary:database:CustomerHub" value="FabrikamPizza_CustomerHub" />
    <add key="enterpriseLibrary:database:Reporting" value="FabrikamPizza_Reporting" />
  </appSettings>
  <connectionStrings>
    <add name="FabrikamPizza_StoreOps" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FabrikamPizza_StoreOps;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="FabrikamPizza_CustomerHub" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FabrikamPizza_CustomerHub;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="FabrikamPizza_Reporting" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FabrikamPizza_Reporting;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
</configuration>
