<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DispatchBoardHostSystem" value="StoreOps.DispatchBoard" />
    <add key="enterpriseLibrary:defaultContainer" value="DispatchHost" />
    <add key="enterpriseLibrary:defaultLogWriter" value="Operations" />
    <add key="enterpriseLibrary:defaultExceptionPolicy" value="ServiceBoundaryPolicy" />
    <add key="enterpriseLibrary:typeAlias:LegacyDbGateway" value="Fabrikam.EnterprisePizza.Data.Gateways.LegacyDbGateway, Fabrikam.EnterprisePizza.Data" />
    <add key="enterpriseLibrary:typeAlias:DispatchTicketRepository" value="Fabrikam.EnterprisePizza.Data.Repositories.StoreOps.DispatchTicketRepository, Fabrikam.EnterprisePizza.Data" />
    <add key="enterpriseLibrary:typeAlias:DispatchCoordinator" value="Fabrikam.EnterprisePizza.Business.StoreOps.Services.DispatchCoordinator, Fabrikam.EnterprisePizza.Business.StoreOps" />
    <add key="enterpriseLibrary:container:DispatchHost:001" value="service=LegacyDbGateway;mapTo=LegacyDbGateway;lifetime=Singleton" />
    <add key="enterpriseLibrary:container:DispatchHost:002" value="service=Fabrikam.EnterprisePizza.Data.Repositories.StoreOps.IDispatchTicketRepository, Fabrikam.EnterprisePizza.Data;mapTo=DispatchTicketRepository;lifetime=Transient" />
    <add key="enterpriseLibrary:container:DispatchHost:003" value="service=Fabrikam.EnterprisePizza.Business.StoreOps.Services.IDispatchCoordinator, Fabrikam.EnterprisePizza.Business.StoreOps;mapTo=DispatchCoordinator;lifetime=Transient" />
    <add key="enterpriseLibrary:logWriter:Operations" value="category=DispatchHost;traceSource=legacy-services.dispatch" />
    <add key="enterpriseLibrary:exceptionPolicy:ServiceBoundaryPolicy" value="action=Wrap;exceptionType=System.InvalidOperationException, System;message=The dispatch board could not be generated.;logCategory=DispatchHost" />
    <add key="enterpriseLibrary:database:StoreOps" value="FabrikamPizza_StoreOps" />
    <add key="enterpriseLibrary:database:CustomerHub" value="FabrikamPizza_CustomerHub" />
    <add key="enterpriseLibrary:database:Reporting" value="FabrikamPizza_Reporting" />
  </appSettings>
  <connectionStrings>
    <add name="FabrikamPizza_StoreOps" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FabrikamPizza_StoreOps;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="FabrikamPizza_CustomerHub" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FabrikamPizza_CustomerHub;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="FabrikamPizza_Reporting" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FabrikamPizza_Reporting;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DispatchBasicHttpBinding" maxReceivedMessageSize="65536">
          <readerQuotas maxArrayLength="65536" maxStringContentLength="65536" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DispatchMetadataBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Fabrikam.EnterprisePizza.Services.DispatchHost.StoreDispatchService" behaviorConfiguration="DispatchMetadataBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="DispatchBasicHttpBinding" contract="Fabrikam.EnterprisePizza.Services.DispatchHost.IStoreDispatchService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
</configuration>
