<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DispatchBoardHostSystem" value="StoreOps.DispatchBoard" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DispatchBasicHttpBinding" maxReceivedMessageSize="65536">
          <readerQuotas maxArrayLength="65536" maxStringContentLength="65536" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DispatchMetadataBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Fabrikam.EnterprisePizza.Services.DispatchHost.StoreDispatchService" behaviorConfiguration="DispatchMetadataBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="DispatchBasicHttpBinding" contract="Fabrikam.EnterprisePizza.Services.DispatchHost.IStoreDispatchService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
</configuration>
